<h1 style="text-align:center" class="mt-5"">New File Resource</h1>

<%= render 'form', file_resource: @file_resource %>

<%= link_to 'Back', file_resources_path, style:'color: white; display: table; margin: 0 auto;',class: 'mt-3 btn btn-sm btn-primary' %>
